/* global-section-start */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: white !important;
    color: #bdbdbd;
}

.global-container{
    max-width: 1140px;
    margin: 0 auto;
  }

/* global-section-end */

.navbar{
    margin: 30px 0;
}

